*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #191d28;
}
.header{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:10px
}
.head{
    color: #007bff;
    padding-left: 15px;
    padding-top: 10px;
    font-size: 35px;
}
.header-2{
    padding-top: 15px;
}
#select-1{
    background-color: #2e3241;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
}
#select-2{
    background-color: #2e3241;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
#buy-btc{
    background-color: #2e3241;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 700;
}
.header-3{
    display: flex;
    margin-top: 20px;
}
.countdown{
    color: #007bff;

}
.tel-link{
    margin-left: 10px;
    background-color: #007bff;
    padding: 10px;
    border-radius: 10px;
}
.tel-link a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
.dot{
    background-color: #007bff;
    border-radius: 20px;
    height: 25px;
    width: 25px;
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}
.body-1a{
    color: #6b7185;
    font-size: 15px;
    text-align: center;
}
.body-2a{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 20px;
}
.p1{
    font-size: 35px;
    color: #007bff;
    font-weight: 900;
}
.p2{
    font-size: 20px;
    color: #6b7185;
}
.p1-big{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.p2-big{
    color: #6b7185;
    text-align: center;
    margin-top: 10px;
}
table{
    border-collapse: collapse;
    border-spacing: 0 10px;
    margin-top: 10px;
}
td{
    border: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.th1{
    color: #6b7185;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
}
.tr-data{
    background-color: #6b7185;
    color: #fff;
    font-size: 25px;
}
#t2{
    padding-left: 40px;
}
#t3{
    padding-left: 121px;
}
#t4{
    padding-left: 123px;
}
#t5{
    padding-left: 120px;
}
#t6{
    padding-left: 100px;
}
.home-screen { 
    margin-left: 590px;
    border: solid 2px #007bff;
    width: 230px;
    border-radius: 3px;
}
.home-screen a{
    color: #007bff;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
}

